# ===============================
# 🐍 Environnement Python
# ===============================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# 🔐 Secrets & configurations locales
# ===============================
.env
.env.*
*.pem
*.key

# ===============================
# 🗃️ Base de données locale
# ===============================
*.sqlite3

# ===============================
# 🧠 Fichiers d’IDE / éditeurs
# ===============================
.vscode/
.idea/

# ===============================
# ✅ Couverture de test & tests
# ===============================
.coverage
.coverage.*
htmlcov/

# ===============================
# 🧹 Fichiers temporaires & runtime
# ===============================
*.log
*.backup
*.pid
celerybeat-schedule
